$colorDash: #fff;
$colorLite: #bcbcbc;

$colorTextDashBoard: #bcbcbc;
$colorTextMainInformation: #484848;
$colorTextNameElements: #989898;

$colorHeaderAndFooter: #fafafa;
$colorMainElement: #989898;
$colorNav: #1A1B1C;